{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">

<head>
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <title>Chair Sign-in Page</title>
</head>

<style>
</style>

<div id="center">
    <div id="holder">
        <div class="top">
            <span>Chair Sign-in Page:</span>
        </div>
        {% if errorMsg %}
        <span style="color: red; padding: 10px"><strong>{{ errorMsg }}  Please try again.</strong></span>
        {% endif %}
        <form action="/signin/chair" method="post">
            <div class="form">
                {% csrf_token %}
                <span class="label">Conference ID: </span>
                <input class="input" name="confID" type="text" value="{{selectedConference.conf_id}}" maxlength="20" required />
                {% if not selectedConference %}
                <input type="button" class="back" onclick="window.location.href = '/';" value="Back" />
                <input class="button" type="submit" value="Check Conference ID" />
                {% endif %}
                {% if selectedConference %}
                <span class="label">Committee: </span>
                <select class="input" name="committee" onchange="this.form.submit()">
                    {% if not selectedCommittee %}
                    <option value="none" selected disabled hidden>Select a Committee</option>
                    {% else %}
                    <optgroup label="Selected:">
                        <option value="{{ selectedCommittee.id }}" selected>{{ selectedCommittee.abbr }}</option>
                    </optgroup>
                    {% endif %}
                    <optgroup label="All:">
                        {% for c in committees %}
                        <option value="{{c.id}}">{{c.abbr}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                {% endif %}

                {% if selectedCommittee and selectedConference %}
                <span class="label">Chair: </span>
                <select class="input" name="country" onchange="this.form.submit()">
                    {% if not selectedCountry %}
                    <option value="none" selected disabled hidden>Select Position</option>
                    {% else %}
                    <optgroup label="Selected:">
                        <option value="{{ selectedCountry.id }}" selected>{{ selectedCountry.name }}</option>
                    </optgroup>
                    {% endif %}
                    <optgroup label="All:">
                        {% for c in countries %}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                {% endif %}
                {% if selectedCommittee and selectedConference and selectedCountry %}
                <span class="label">Password: </span>
                <input class="input" name="password" type="text" minlength="4" maxlength="30" required />
                <input type="button" class="back" onclick="window.location.href = '/';" value="Back" />
                <input class="button" type="submit" value="Sign In" />
                {% endif %}
            </div>

        </form>
    </div>

</div>

<script>

</script>